.card {
    align-items: center; 
    text-align: center;
    border-style: solid;
    border-width: medium;
  }

.item-image {
    max-height: 25%;
    max-width: 25%;
    cursor: pointer;
}

mat-card-subtitle{
  display: inline-block;
}