<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <div></div>
    <mat-card-subtitle><b>${{item.price}} </b></mat-card-subtitle>
    <mat-card-subtitle *ngIf="amount > 1">&nbsp; x{{amount}}</mat-card-subtitle>
  </mat-card-header>
  <img 
    mat-card-image 
    src="{{item.url}}" 
    alt="picture" 
    (click)="onItemClick(item)"
    class="item-image"
    >
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="showButton" mat-raised-button color="primary" (click)="onAddToCartClick(item)">Add to Cart</button>
    <button *ngIf="showButton" mat-raised-button color="primary" (click)="onRemoveFromCartClick(item)">Remove from Cart</button>
  </mat-card-actions>
</mat-card>